/* Fonts */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff');
  font-display: swap;
}

/* Variables */

:root {
  --basic-white: #ffffff;
  --lighter-white: rgba(255, 255, 255, 0.2);

  --basic-black: #000000;
  --lighter-black: #323232;
  --light-black: #5A5A5A;

  --basic-grey: #999999;
  --lighter-grey: #C4C4C4;
  --light-grey:  #F8F7F4;
  --lighter-grey: #FEFEFE;
  --focus-grey: #EDEDED;

  --button-red: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --hover-red: #FBDED7;
  --hover-lighter-red: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --hover-link: #FFBC9E;
  --hover-darker-link: #E84D37;
  --focus-red: #D07058;
  --focus-lighter-red: #F6B5A5;
  --focus-darker-red: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);

  --green: #849D8F;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-white);
}

.page a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

/* Visually hidden */

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

/* Site wrapper for slider */

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-gelato-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: #849d8f;
  background-image: url("../img/slider-gelato-1.png");
}

.site-wrapper-2 {
  background-color: #8996a6;
  background-image: url("../img/slider-gelato-2.png");
}

.site-wrapper-3 {
  background-color: #9d8b84;
  background-image: url("../img/slider-gelato-3.png");
}

/* Container */

.container {
  width: 1146px;
  margin: 0 auto;
}

/* Inner page */

.inner-page {
  background-color: var(--green);
}

/* Main header */


/* Main navigation */

.main-navigation {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  margin-top: 9px;
}

.main-header-logo img {
  width: 154px;
  height: 64px;
  margin-right: 24px;
}
/* Site navigation */

.site-navigation {
  display: flex;
  margin-top: 23px;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: var(--basic-white);
  display: block;
  margin-right: 32px;
  margin-top: 23px;
}

.site-navigation a:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation a:focus {
  color: var(--basic-black);
  background-color: var(--focus-grey);
}

.site-navigation a:active {
  background-image: var(--focus-red);
}

/* User navigation */

.user-navigation {
  text-align: right;
  margin-top: 23px;
}

.user-navigation button {
  border: none;
}

.search-button {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.login-button, .cart-button {
  width: 92px;
  height: 32px;
  border-radius: 20px;
}

.button {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-image: var(--button-red);
}

.button:hover {
  background-image: var(--hover-lighter-red);
}

.button:focus {
  background-image: var(--focus-darker-red);
}

.user-navigation .button {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  background-image: none;
  background-color: var(--lighter-white);
}

.user-navigation .button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-navigation .cart-button-active {
  background-color: var(--basic-white);
  color: var(--lighter-black);
}

.main-header-contacts span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header-contacts a {
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li {
  margin-right: 22px;
}

.catalog-header {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 9px;
  margin-bottom: 0;
}


/* Main slider */

.main-slider {
  position: relative;
  padding-top: 321px;
  font-weight: 700;
  color: var(--basic-white);
  text-align: center;
}

.main-slider-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.main-slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  color: var(--basic-white);
}

.main-slider-link {
  font-size: 32px;
  line-height: 44px;
  color: var(--basic-white);
}

.main-slider-link:hover {
  background-image: var(--hover-lighter-red);
}

.main-slider-link:focus {
  background-image: var(--focus-darker-red);
}

.slider-controls {
  display: flex;
  width: 67px;
  justify-content: space-between;
  text-align: left;
}

.slider-controls button {
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: var(--basic-white);
}

/* Specials */

.specials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:26px;
  font-weight: 700;
}

.specials-item-title {
  font-size: 35px;
  line-height: 41px;
}

.specials-item-description {
  font-size: 18px;
  line-height: 22px;
}

.specials-item-link {
  font-size: 18px;
  line-height: 24px;
  background-image: var(--button-red);
  color: var(--basic-white);
}

.specials-item-link:hover {
  background-image: var(--hover-lighter-red);
}

.specials-item-link:focus {
  background-image: var(--focus-darker-red);
}

/* Hits */

.catalog-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-price span {
  font-size: 30px;
  line-height: 35px;
}

.catalog-item-description {
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
}

.catalog-item-description:hover, .catalog-item-description:focus {
  color: var(--hover-link);
}

.hit-items {
  margin-bottom: 40px;
}

/* Features */

.features {
  color: var(--lighter-black);
  margin-bottom: 40px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
}

.features-list-description {
  font-size: 16px;
  line-height: 22px;
}

/* Blog */

.blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

.blog-article {
  background-color: var(--basic-white);
}

.blog-article, .blog-article a {
  color: var(--lighter-black);
}

.blog-article-title {
  font-size: 16px;
  line-height: 22px;
}

.blog-article a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.blog-article-link:hover, .blog-article-link:focus {
 color: var(--hover-darker-link);
}

.subscribe-form {
  background-color: var(--light-grey);
}

.subscribe-form-description {
  font-size: 16px;
  line-height: 22px;
  color: var(--light-black);
}

/* Pagination */

.pagination-list {
  display: flex;
  width: 194px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-left: auto;
}

.pagination-item {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  width: 26px;
  height: 26px;
}

.pagination-item a {
  display: inline-block;
}

.pagination-item a:hover {
  background-color: var(--lighter-white);
  border-radius: 100%;
  width: 26px;
  height: 26px;
}

.pagination-item a:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border-radius: 100%;
  width: 26px;
  height: 26px;
}


/* Contacts */

.contacts {
  min-height: 430px;
  background-image: url(https://via.placeholder.com/1200x430);
}

.contacts-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 26px;
}

.contacts-pin {
  justify-self: center;
}

.contacts-info {
  justify-self: end;
  background-color: var(--lighter-grey);
}

.contacts-address {
  font-size: 14px;
  line-height: 20px;
  color: var(--lighter-black);
}

.contacts-address span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-telephone {
  font-size: 14px;
  line-height: 20px;
  color: var(--lighter-black);
}

.contacts-telephone a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--lighter-black);
}


/* Main footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 26px;
  padding-top: 18px;
  margin-top: 30px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 164px;
  margin: 0;
  padding: 0;
  padding-top: 18px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 327px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  justify-self: center;
}

.footer-menu-item:first-child {
  font-weight: 700;
}

.footer-menu-item {
 margin-right: 32px;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  justify-self: end;
}

.footer-menu-item a:hover, .footer-menu-item a:focus {
  color: var(--hover-link);
}
